streamlit
openai
langchain
langsmith
langchain_core
streamlit_feedback
langchain_community
langchain-openai
python-dotenv
SQLAlchemy
supabase
psycopg2-binary 

urllib3
pandas
python-dateutil
plotly

fastapi==0.104.1
starlette==0.27.0
uvicorn==0.24.0
